h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b26d4d;
}

.container {
    width: auto;
    height: 100%;
    padding: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: #b26d4d;
}

#imgRevealed {
    max-width: 100%;
    height: auto;
}

#answer {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #b26d4d;
    text-align: center;
}

.headingSubtext {
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

.typewriter {
    font-family: 'Courier New', Courier, monospace
}